body{
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(0, 0, 0);





    

  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;

  
}

h2{
    font-size: 2rem;
    color: aliceblue;
}

.section{
    text-align: center;
}

  .new{

            padding-bottom: 4px;
            margin-top: 14px;
            
        }



.new {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 65px;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}



 .gradient-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            pointer-events: none;
        }

        .gradient-sphere {
            position: absolute;
            border-radius: 100%;
            filter: blur(120px);
        }

        .sphere-1 {
            width: 40vw;
            height: 40vw;
            background: linear-gradient(40deg, rgba(255, 0, 128, 0.8), rgba(255, 102, 0, 0.4));
           
            top: -10%;
            left: -10%;
            
        }

        .sphere-2 {
            width: 40vw;
            height: 40vw;
            background: linear-gradient(240deg, rgba(72, 0, 255, 0.8), rgba(0, 183, 255, 0.4));
            bottom: -10%;
            right: -10%;
            animation: float-2 18s ease-in-out infinite alternate;
        }

       








         .btn {background-image: linear-gradient(to right, #D38312 0%, #A83279  51%, #D38312  100%)}
         .btn {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #f61bef;
            border-radius: 15px;
            display: block;
            font-size: 25px;
            cursor: pointer;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
          }

          .btn:hover {
            background-position: right center; /* change the direction of the change here */
            color: #e5e5e5;
            text-decoration: none;
          }
         



.rec{
  color: #ff8929;
  font-size: x-large;
  
}

#delete-btn{
  background-color: rgb(86, 86, 255);
  box-shadow: 0 0 20px hsl(307, 100%, 62%);
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-weight: 400;
  font-size: x-large;
  font-family: "Honk", system-ui;
  text-decoration: none;
  transition: 0.5s;
  margin-top: 19px;




  
}

delete-btn:hover {
            background-position: right center; /* change the direction of the change here */
            color: #ff3535;
            text-decoration: none;
          }
         









































.emoji-name{
    font-weight: 600;
    color: rgb(250, 250, 255);
}